#teimutm {
    font-family: 'Source Sans Pro', sans-serif;
}

#teimutm ul{
    list-style-type: none;
}

#teimutm li{
    padding: 1em;
    font-size: large;
}

#teimutm li span.note {
    font-style: italic;
    font-size: small;
    font-weight: normal;
}